<div class="users-orders-container">
    <h1>My Orders:</h1>

    <!-- <div *ngIf="!(orders || JSON) !== {}">
        <h4>No orders to show!</h4>
        <h4>{{ (orders || JSON) !== {} }}</h4>
    </div> -->
    <div>
        <div class="users-order" *ngFor="let order of orders">
            <h3>Order #{{order?.Id}}</h3>
            <strong>Description: </strong><span>{{order?.Description | propertyFormat}}</span><br>
            <strong>EuroCode: </strong><span>{{order?.EuroCode | propertyFormat}}</span><br>
            <strong>OesCode: </strong><span>{{order?.OesCode | propertyFormat}}</span><br>
            <strong>MaterialNumber: </strong><span>{{order?.MaterialNumber | propertyFormat}}</span><br>
            <strong>LocalCode: </strong><span>{{order?.LocalCode | propertyFormat}}</span><br>
            <strong>IndustryCode: </strong><span>{{order?.IndustryCode | propertyFormat}}</span><br>
            <strong>Created: </strong><span>{{order?.CreatedOn | dateFormat}}</span><br>
            <strong>Finished: </strong><span>{{order?.Finished}}</span><br>
        </div>
    </div>
</div>


