.nav {
  background-color: #464646;
  text-align: center;
  width: 100%;
  top: 0;
  height: 20% auto;
  display: block;
  padding: 5px;
  margin: 0 auto 5 auto;
  /* position: fixed; */
}

a, a:hover, a:link, a:visited, a:active {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.dropdown-menu {
  background-color: #464646 !important;
}

ul {
  list-style-type: none;
}

.dropdown-head {
  display: inline-block;
}

.nav-elems {
  font-size: 1.8em;
}

.sub-elems {
  display: block;
  font-size: 1.5em;
}