<div class="serch-container">
  <div class="search-filter">
    <h2>Search:</h2>
    <div>
      <label>Select make:</label>
      <select placeholder="make" #m (change)="selectMake(m.value)">
          <option [value]=0>make</option>
          <option *ngFor="let make of makes" [value]="make.Id">{{make.Name}}</option>
      </select>
    </div>

    <div>
        <label>Select model:</label>
      <select *ngIf="this.makeId != null && this.makeId != 0" #m (change)="selectModel(m.value)">
          <option [value]=0>model</option>
          <option *ngFor="let model of models" [value]="model.Id" >{{model.Name}}</option>
        </select>
    </div>

    <div>
        <label>Select body:</label>
      <select *ngIf="makeId != null && modelId != null && this.makeId != 0 && this.modelId != 0" #b (change)="selectBodyType(b.value)">
        <option [value]=0>body</option>
        <option *ngFor="let bodyType of bodyTypes" [value]="bodyType.Id">
            {{bodyType.Code}}/{{bodyType.Description}}
        </option>
      </select>
    </div>
    <button type="button" class="btn btn-gray-bgr" (click)="getGlasses()">Search</button>
  </div>
  
  <app-glasses-list [glassesList]="this.glasses"></app-glasses-list>
</div>