<div class="magane-orders-container">
  <h1 class="viewOrders">Orders:</h1>
  <div class="sortBy">
    <label> Sort By: </label>
    <select class="form-control" #sortFilterValue (change)="sortOrdersBy(sortFilterValue.value)">
      <option *ngFor="let item of sortBy" [value]="item">{{item}}</option>
    </select>
  </div>
  <div *ngIf = "isLoggedIn">
    <div class="users-order" *ngFor="let order of orders">
        <h3 >Order #{{order?.Id}}</h3>
        <div></div>
        <strong>Client's bulstat: </strong><span>{{order?.Bulstat}}</span><br>
        <strong>Description: </strong><span>{{order?.Description}}</span><br>
        <strong>EuroCode: </strong><span>{{order?.EuroCode | propertyFormat}}</span><br>
        <strong>OesCode: </strong><span>{{order?.OesCode  | propertyFormat}}</span><br>
        <strong>MaterialNumber: </strong><span>{{order?.MaterialNumber | propertyFormat}}</span><br>
        <strong>LocalCode: </strong><span>{{order?.LocalCode | propertyFormat}}</span><br>
        <strong>IndustryCode: </strong><span>{{order?.IndustryCode | propertyFormat}}</span><br>
        <strong>Created: </strong><span>{{order?.CreatedOn | dateFormat}}</span><br>
        <strong>Finished: </strong><span *ngIf = "!isAdminLoggedIn">{{order?.Finished}}</span><br>
        <div *ngIf = "isAdminLoggedIn">
          <select class="form-control" [(ngModel)]="order.Finished" #newStatus>
              <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
          </select>
          <button type="button" class="btn btn-gray-bgr btn-primary btn-md" (click)="this.selectNewStatus(newStatus.value, order.Id)"> Change status </button><br>
        </div>
    </div>
  </div>
</div>
