::ng-deep  a {
  text-decoration: underline;
  color: #fff;
  padding: 25px;
}
::ng-deep  a:hover {
  text-decoration: underline;
  color: #fff;
  padding: 25px;
}
::ng-deep  a:link {
  text-decoration: underline;
  color: #fff;
  padding: 25px;
}
::ng-deep  a:visited {
  text-decoration: underline;
  color: #fff;
  padding: 25px;
}
::ng-deep a:active {
  text-decoration: underline;
  color: #fff;
  padding: 25px;
}
::ng-deep small {
  color: red;
}
::ng-deep  .btn:active:focus {
  outline: 0 none;
  box-shadow: none;
}
::ng-deep .btn.active:focus {
  outline: 0 none;
  box-shadow: none;
}
::ng-deep .btn-gray-bgr {
  background-color: #333333;
  color: #fff;
  font-size: 1.2em;
}