.magane-orders-container {
    margin: 40px auto 90px auto;
    width: 50%;
    height: 25% auto;
    background-color: #464646;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 0.8em;
    overflow: auto;
}

span {
    font-size: 0.8em;
}

.users-order {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #fff;
}

select {
    width: 10%;
    margin: 0 auto;
    padding: 5px;
}

.btn-gray-bgr {
    background-color: #333333;
    color: #fff;
    font-size: 1.2em;
    margin: 10px;
    display: inline;
    /* text-transform: uppercase; */
  }

.btn:focus, .btn:active:focus, .btn.active:focus {
outline: 0 none;
box-shadow: none;
}