<br><br><br><br><br>
<h2>Glass info</h2>

<h4>Main info</h4>
----------------<br>
<strong>Eurocode: </strong><span>{{glass?.EuroCode}}</span><br>
<strong>OesCode: </strong><span>{{glass?.OesCode}}</span><br>
<strong>IndustryCode: </strong><span>{{glass?.IndustryCode}}</span><br>
<strong>MaterialNumber: </strong><span>{{glass?.MaterialNumber}}</span><br>
<strong>LocalCode: </strong><span>{{glass?.LocalCode}}</span><br>
----------------<br><br>

<h4>Basic</h4>
----------------<br>
<strong>Description: </strong><span>{{glass?.Description}}</span><br>
<strong>ProductType: {{glass?.ProductType}}</strong><span>{{glass?.Description}}</span><br>
----------------<br><br>

<strong>Dates:</strong>
----------------<br>
<strong>ModelDate: </strong><span>{{glass?.ModelDate}}</span><br>
<strong>PartDate: </strong><span>{{glass?.PartDate}}</span><br>
----------------<br><br>

<h4>Additonal info</h4>
----------------<br>
<strong>IsAcoustic: </strong><span>{{glass?.IsAcoustic}}</span><br>
<strong>IsCalibration: </strong><span>{{glass?.IsCalibration}}</span><br>
<strong>Modification: </strong><span>{{glass?.Modification}}</span><br>
<strong>Tint: </strong><span>{{glass?.Tint}}</span><br>
<strong>FittingTimeHours: </strong><span>{{glass?.FittingTimeHours}}</span><br>
<strong>FittingType: </strong><span>{{glass?.FittingType}}</span><br>
----------------<br><br>

<h4>sizes</h4>
<strong>Height: </strong><span>{{glass?.Height}}</span><br>
<strong>Width: </strong><span>{{glass?.Width}}</span><br>
