.glass-details-container {
    margin: 40px auto 70px auto;
    height: auto;
    width: 50%;
    text-align: center;
    background-color: #464646;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 0.8em;
    overflow: auto;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.jumbotron{
    background-color:#8F8888;
    text-align:center;
}