<div class="glass-details-container">
    <div class="jumbotron">{{glass?.Description}}</div><br>
    <div class="table-bordered">
        <h5>Product Codes</h5>
        <table class="table">
            <tr><td>Eurocode</td><td>{{glass?.EuroCode}}</td>
            <tr><td>OesCode</td><td>{{glass?.OesCode}}</td>
            <tr><td>IndustryCode</td><td>{{glass?.IndustryCode}}</td>
            <tr><td>MaterialNumber</td><td>{{glass?.MaterialNumber}}</td>
            <tr><td>LocalCode</td><td>{{glass?.LocalCode}}</td>
        </table>
    </div><br>

    <h5 class="col-md-6">Product Info</h5>
        <div class="table-borderless">
            <table class="table">
                <tr>
                    <td>ProductType: <strong>{{glass?.ProductType}}</strong></td>
                    <td>ModelDate: <strong>{{glass?.ModelDate}}</strong></td>
                </tr>
                <tr>
                    <td>Tint: <strong>{{glass?.Tint}}</strong></td>
                    <td>PartDate: <strong>{{glass?.PartDate}}</strong></td></tr>
                <tr>
                    <td>IsAcoustic: <strong>{{glass?.IsAcoustic}}</strong></td>
                    <td>PartDate: <strong>{{glass?.PartDate}}</strong></td>
                </tr>
                <tr>
                    <td>IsCalibration: <strong>{{glass?.IsCalibration}}</strong></td>
                    <td>FittingTimeHours: <strong>{{glass?.FittingTimeHours}}</strong></td>
                </tr>
                <tr>
                    <td>Modification: <strong>{{glass?.Modification}}</strong></td>
                    <td>FittingType: <strong>{{glass?.FittingType}}</strong></td>
                </tr>
                <tr>
                    <td>Size (HxW): <strong>{{glass?.Height}}x{{glass?.Width}} mm</strong></td>
                </tr>
            </table>
        </div>
    <button type="button" class="btn btn-primary btn-md" *ngIf="authenticationService.isLoggedIn && !authenticationService.isAdminLoggedIn" (click)="this.buyGlass()">Buy</button>
</div>