<div class="glass-details-container">
    <div class="jumbotron">{{glass?.Description}}</div><br>
    <div class="table-bordered">
        <h5>Product Codes</h5>
        <table class="table">
            <tr><td>Eurocode</td><td>{{glass?.EuroCode | propertyFormat}}</td>
            <tr><td>OesCode</td><td>{{glass?.OesCode | propertyFormat}}</td>
            <tr><td>IndustryCode</td><td>{{glass?.IndustryCode | propertyFormat}}</td>
            <tr><td>MaterialNumber</td><td>{{glass?.MaterialNumber | propertyFormat}}</td>
            <tr><td>LocalCode</td><td>{{glass?.LocalCode | propertyFormat}}</td>
        </table>
    </div><br>

    <h5>Product Info</h5>
        <div class="table-borderless">
            <table class="table">
                <tr>
                    <td>ProductType: <strong>{{glass?.ProductType | propertyFormat}}</strong></td>
                    <td>ModelDate: <strong>{{glass?.ModelDate | propertyFormat}}</strong></td>
                </tr>
                <tr>
                    <td>Tint: <strong>{{glass?.Tint | propertyFormat}}</strong></td>
                    <td>PartDate: <strong>{{glass?.PartDate | propertyFormat}}</strong></td></tr>
                <tr>
                    <td>IsAcoustic: <strong>{{glass?.IsAcoustic | propertyFormat}}</strong></td>
                    <td>FittingTimeHours: <strong>{{glass?.FittingTimeHours | propertyFormat}}</strong></td>
                </tr>
                <tr>
                    <td>IsCalibration: <strong>{{glass?.IsCalibration | propertyFormat}}</strong></td>
                    <td>FittingType: <strong>{{glass?.FittingType | propertyFormat}}</strong></td>
                </tr>
                <tr>
                    <td>Modification: <strong>{{glass?.Modification | propertyFormat}}</strong></td>
                    <td>Size (HxW): 
                            <strong>
                                {{glass?.Height | propertyFormat}}x{{glass?.Width | propertyFormat}} mm
                            </strong>
                        </td>
                </tr>
            </table>
        </div>
    <button type="button" class="btn btn-primary btn-md" *ngIf="authenticationService.isLoggedIn && !authenticationService.isAdminLoggedIn" (click)="this.buyGlass()">Buy</button>
</div>